@model ToastMessage

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style=" background-color:#E7F4E7">
    <div class="toast-header">

        <div class="media-left">
            @if (Model.IsError)
            {
                <i class="fas fa-exclamation-triangle media-object fa-lg" style=" color:#FF0000"> </i>
            }
            else
            {

                <i class="fas fa-check-circle media-object fa-lg" style=" color:#47D764"> </i>
            }
            &nbsp; &nbsp;
        </div>
        <div class="media-body">
            @Model.Header
            <br />

        </div>
    </div>
    <div class="toast-body">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @Model.Message
    </div>
</div>

